<div class="tutionlist">
    <table>
        <tr>
            <th>SL No.</th>
            <th>Class</th>
            <th>Subject</th>
            <th>Location</th>
            <th>Offered Salary</th>
            <th></th>
        </tr>
    </table>
</div>
<div class="tutionlist">
    <table>
        <tr>
            <td>01.</td>
            <td>11-12</td>
            <td>Physics</td>
            <td>Shiromoni</td>
            <td>4000</td>
            <td><button class="btn btn-primary">Apply</button></td>
        </tr>
    </table>
</div>